mixin sServices(data)
	// start sServices
	+b.SECTION.sServices.section#sServices&attributes(attributes)
		+e.baner
			+e.b-img
				img(loading="lazy" src="img/@2x/sServices-baner.jpg" alt="")
			+b.section-title
				h1 Удлинение газели
				p Есть много вариантов Lorem Ipsum Большинство из них имеет не всегда Модификации, например, юмористические
		+e.content
			p Компания «АвтоРекорд» является сертифицированным поставщиком надстроек на грузовые автомобили марки «ГАЗ» в Нижнем Новгороде и одним из основных направлений нашей деятельности является именно удлинение рам.
			p Получение дополнительной прибыли нашими клиентами за счет увеличения площади рам грузовых авто является главным аспектом популярности данной услуги. Удлинение производится как для транспортных единиц с европлатформами, так и с бортовыми платформами.
	// end sServices