mixin footer()
	+b.FOOTER.footer
		.container
			.row.gy-20
				.col-md-4.col-lg-2.col-xl-3.d-none.d-sm-block
					+e.logo
						img(loading="lazy" src="img/svg/logo.svg" alt="")
					+soc()
				+e.col--mnu.col-lg-4.col-xl-4.d-none.d-lg-block
					+e.service-title(href="#") Услуги:
					+e.service-mnu
						ul
							li: a(href="#") Удлинение грузовых автомобилей
							li: a(href="#") Изготовление еврофургонов
							li: a(href="#") Бортовые платформы
							li: a(href="#") Переоборудование в спецтехнику
							li: a(href="#") Дополнительные услуги
							li: a(href="#") Контакты
				+b.f-address.col-md-4.col-lg-3.col-xl-3.text-center.text-md-start
					+e.mob-rights.d-md-none
						| © ООО «Авторекорд»
						|
						span.set-curr-year-js 2021
						|, ИНН 5256171974,
						br
						| ОГРН 1185275017124
					+footerTxtItem('Адрес:')
						p
							| г. Нижний Новгород,
							br
							| ул. Юлиуса Фучика, д. 60 к15
					+footerTxtItem('Режим работы:')
						p будни  8:00 - 17:00
					+e.item--nums.d-none.d-md-block
						p ОГРН 1185275017124
						p ИНН 5256171974
					+e.item.d-none.d-md-block
						p
							| © ООО «Авторекор»
							|
							span.set-curr-year-js 2021
					+e.mob-row.row.d-md-none
						.col-6
							+b.big-link.link-modal-js(href="#modal-call")
								| Проложить
								br
								| маршрут
						.col-6
							+b.big-link.link-modal-js(href="#modal-call")
								| Обратный
								br
								| звонок
				+b.f-tell.col-md-4.col-lg-3.col-xl-2.col-xxl-auto.ms-xxl-auto.d-none.d-md-block
					+footerTellBl('89308088580', '8 (930) 808-85-80', 'бесплатно по России')
					+footerTellBl('88002229792', '8 (800) 222-97-92', 'городской')
					+e.tell-bl--wa
						+e.wa-row.row.align-items-end
							.col-auto
								+e.wa-img
									img(loading="lazy" src="img/svg/footer-wa.svg" alt="")
							.col
								+e.tel(href="https://api.whatsapp.com/send/?phone=88312160797") WhatsApp
								+e.gray для звонков из зарубежа
					+b.big-link.link-modal-js(href="#modal-call") Обратный звонок

mixin footerTellBl(telHref, tell, gray)
	+e.tell-bl
		+e.tel(href=`tel:${telHref}`)=tell
		+e.gray=gray

mixin footerTxtItem(title)
	+e.item
		+e.i-title=title
		block


mixin blueFixed()
	+b.blue-f
		.container
			.row.align-items-center
				.col-auto.d-none.d-md-block
					+e.tell-icon
						img(loaading="lazy" src="img/svg/tell.svg" alt="")
				.col
					+e.txt
						span
							| Перезвоним с готовым решением в
							|
						span.text-primary удобное для вас время
				.col-auto
					+e.btn.link-modal-js(href="#modal-call") Обратный звонок

mixin grayFixed()
	+b.gray-f--js
		.container
			+e.row.row.align-items-center
				.col.text-xl-center
					+e.policy
						| Используя  сайт, вы соглашетесь с
						|
						a(href="#" target="_blank") пользовательским соглашением
						|
						| использования сайта и его
						|
						a(href="#" target="_blank") политикой конфиденциальности.
				.col-auto
					+e.close-btn.close-policy-js
						img(loading="lazy" src="img/svg/cross.svg" alt="")