.modal-win {
	width: 100%;
	position: relative;
	max-width: rem(500);
	border-radius: 5px!important;
	// min-height: 100%; 

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}
	.close-modal{
		@extend .click-area-boost;
		width: 16px;
		height: 16px;

		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
		margin-bottom: 20px;
		margin-left: auto;
	}

	.carousel__button.is-close {
		display: none;
		position: absolute;
		top: rem(8) !important;
		right: rem(8) !important;
		color: $body-color!important;
	}

	.form-wrap{
		&__input-wrap{
			margin-bottom: 10px;
		}
		&__btn{
			@extend .btn;
			@extend .btn-dark;

			width: 100%;
			margin-bottom: 20px;
		}
	}
}

.modal-car{
	&__slider-wrap{
		margin-bottom: 20px;
		@include media-breakpoint-up(xl){
			margin-bottom: rem(40);
		}
	}
	.swiper-pagination{
		position: absolute;
		z-index: 10;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: rem(10) 0;
	}

	&__img{
		@extend .accept-ratio-frame;
		padding-top: calc(220/315 * 100%);
		border-radius: 5px;
	}
	&__name{
		font-weight: bold;
		font-size: 16px;
		line-height: calc(20/16);
		margin-bottom: 10px;
	}

	&__descr{
		font-size: 14px;
		line-height: 1.5;
		color: $gray-550;
		margin-bottom: 10px;

		p{
			margin-bottom: 10px;
		}
		& > *:last-child{
			margin-bottom: 0;
		}
	}
	&__region{
		span{

		}
		b{

		}
	}
	&__{}
	&__{}
}
