mixin sPhoto(data)
	// start sPhoto
	+b.SECTION.sPhoto.swiper-controlls-parent-js.section#sPhoto&attributes(attributes)
		.container
			+e.top-row.row.align-items-center.d-none.d-sm-flex
				.col-md
					+b.section-title
						h2 Вставка фото (до 10 шт.),  с прокруткой
				+e.arrow-col.col-md-auto.d-none.d-md-flex
					+arrow()
			+e.slider-wrap
				.swiper-container.c-slider-js
					.swiper-wrapper
						+sPhotoSlide(1)
						+sPhotoSlide(2)
						+sPhotoSlide(3)
						+sPhotoSlide(1)
					.swiper-pagination.d-md-none
	// end sPhoto

mixin sPhotoSlide(imgNum)
	.swiper-slide
		+headerBlockCard(imgNum, 'catalog')