mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+e.slider-wrap
				.swiper-container.headerBlock-slider-js
					.swiper-wrapper
						-for(var i = 0; i < 4; i++)
							+headerBlockSlide()
					.swiper-pagination
			+b.section-title
				h1
					| Переоборудование
					br
					span грузовых автомобилей
				p
					| Производство еврофургонов, эвакуаторов и самосвалов на базе машин отечественных и зарубежных марок, удлинение грузовых автомобилей, а также установка пневмоподвески, ГБО и п рочими видами усовершенствования коммерческого транспорта.
			+e.c-row
				+headerBlockCard(1, 'big', `Удлинение <br/> грузовых автомобилей`, `Удлинение, производство еврофургонов, эвакуаторов и самосвалов <span class="d-none d-sm-inline">на базе машин отечественных и зарубежных марок. </span>`)
				+headerBlockCard(2)
				+headerBlockCard(3)
				+headerBlockCard(4)
				+headerBlockCard(5)
			.text-center
				+e.btn(href="#") Перейти в каталог услуг
	// end headerBlock

mixin headerBlockCard(imgNum, addClasses='', title='СПЕЦТЕХНИКА', txt='Удлинение, производство еврофургонов.')
	+b.cat-card(href="#" class=addClasses)
		img(loading="lazy" src=`img/@2x/headerBlock-card-${imgNum}.jpg` alt="")
		+e.content
			h6!=title
			p!=txt

mixin headerBlockSlide()
	.swiper-slide
		+e.row.row.gx-0
			.col-sm-7.col-lg-6
				+e.content
					+e.title Переоборудование  автомобилей
			+e.img-col.col-sm-5.col-lg-6.d-none.d-sm-block
				img(loading="lazy" src="img/@2x/headerBlock-img.jpg" alt="")