mixin sVideo(data)
	// start sVideo
	+b.SECTION.sVideo.section#sVideo&attributes(attributes)
		.container
			+b.section-title
				h2 Видео вставка
			+e.video
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ZzRa9-4LGjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	// end sVideo