extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sAddInfo/_sAddInfo.pug
include ../blocks/sSoc/_sSoc.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sFeedBack/_sFeedBack.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg='02-375.png'

block title
	- let  title= '02-catalog'
	title= title
block pagecontent
	+mob-mnu()
	+header()
		+topLine()
		+top-nav()
		+menuLine()
	+pageHead({
		breadcrumbs: ['Главная', 'Услуги'],
		seoBox: true,
	})
		+sCatalog()
			+sCatalogItem(1)
			+sCatalogItem(2)
			+sCatalogItem(3)
	+footer()
	+b.fixed-box--js
		+blueFixed()
		+grayFixed()