// start .sSoc
.sSoc {
	--sPT: 48px;
	--sPB: 40px;
	--sTPB: 20px;
	@include media-breakpoint-up(lg){
		--sPT: #{rem(80)};
		--sPB: #{rem(74)};
		--sTPB: #{rem(40)};
	}

	.section-title{
		h2{

		}
	}
	&__txt{
		font-size: rem(15.1);
	}

	.soc{
		@include media-breakpoint-up(lg){
			justify-content: flex-end;
		}

		&__item{
			@include mt();
			width: 40px;
			height: 40px;
			margin-right: 13.5px;
			@include media-breakpoint-up(lg){
				margin-right: 20px;
				width: rem(60);
				height: rem(60);
			}

			background: $gray-610;

			.icon{
				font-size: 21px;
				@include media-breakpoint-up(lg){
					font-size: rem(32);
				}
				color: $white;
			}
		}
	}
	&__{}
	&__{}
} // end.sSoc