// start .topLine
.topLine {
	background: $gray-550;
	color: $white;
	padding: rem(8.5) 0;

	&__row{

	}
	&__col{
		&--middle{
			@include media-breakpoint-up(xxl){
				padding-left: rem(41);
			}
		}
	}
	&__item{
		display: flex;
		align-items: center;

		color: $white;
		.icon{
			color: $white;
			flex-shrink: 0;
			font-size: rem(12);
			margin-right: rem(5);
		}
	}
	&__item-txt{
		font-size: rem(11.3);
		line-height: calc(15/12);
	}

	.soc{
		justify-content: flex-end;

		&__item{
			margin-right: rem(7.5);
			width: rem(22);
			height: rem(22);

			.icon{
				@include mt();
				font-size: 11.25px;
				color: $white;
			}
		}
	}
	&__{}
	&__{}
} // end.topLine