mixin s404(data)
	// start s404
	+b.SECTION.s404.section#s404&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Страница не найдена
				p Неправильно набран адрес, или такой страницы не существует.
				a(href='/') Вернуться на главную
	// end s404