$h: em(2);
.toggle-menu-mobile {
  display: block;
  height: $h* 12;
  position: relative;
  color: $primary;
  font-size: 32px;
  width: 1em;
  cursor: pointer;

  &.on {
    color: #ffffff;
  }

  span:after,
  span:before {
    content: "";
    position: absolute;
    left: 0;
  }

  span {
    @include a-cent(y);
  }

  span:before {


    top: $h * 2;
  }

  span:after {
    bottom: $h * 2;
  }

  span {
    display: block;
  }

  span,
  span:after,
  span:before {
    // width: 32px;
    width: 1em;
    height: $h;
    background-color: currentColor;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 6px;
    transform-origin: 50% 50%;
  }

  &.on span {
    background-color: transparent;
  }

  &.on span:after,
  &.on span:before {

    top: 0;
    bottom: 0;

  }

  &.on span:before {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  &.on span:after {
    transform: rotate3d(0, 0, 1, -45deg);
  }
}

.menu-mobile {
  position: fixed !important;
  z-index: 999;
  height: calc(var(--vh, 1vh) * 100);

  width: 100%;
  @include media-breakpoint-up(sm){
    width: 375px;
  }
  top: 0;
  right: 0;
  background-color: $white;

  &:not(.active) {
    transform: translate3d(120%, 0, 0);
    --opacity: 0;

  }

  @include mt(.6s);
  will-change: transform;

  &__inner {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    @include mt(.3s);
    transition-delay: .4s;
    opacity: var(--opacity);

    //
    background-color: $body-color;
    color: $white;
  }

  &.active {
    .toggle-menu-mobile {
      opacity: 1;
    }
  }

  //
  &__box{
    padding: 16px 20px 40px;

    &--top{
      border-bottom: 1px solid $primary;
      margin-bottom: 20px;
    }
  }
  &__cb-cont{
    margin-bottom: 8px;
  }
  &__close-btn{
    display: inline-flex;
    width: 16px;
    height: 16px;

    align-items: center;
    justify-content: center;

    img{
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  //-
  .menu{
    list-style: none;
    padding: 0;
    margin: 0;

    & > .menu-item{
      margin-bottom: rem(10);
      &.menu-item-has-children{
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: space-between;

        &.active{
          &:after{
            transform: rotateX(180deg);
          }
        }

        &:after{
          @include mt();
          margin-left: 12px;
          content: '';
          width: 12px;
          height: 12px;

          background-image: url(../img/svg/chevron-down.svg);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
      & > a{
        display: block;
        font-size: rem(26);
        line-height: calc(32/26);
        text-transform: uppercase;
        color: $white;
      }
    }
  }
  .sub-menu{
    width: 100%;
    order: 1;
    list-style: none;
    padding: 5px 0 5px 10px;
    margin: 0;

    display: none;
    &.active{
      display: block;
    }

    .menu-item{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
      a{
        display: block;
        font-size: 17px;
        line-height: 1.5;
        color: $white;
      }
    }
  }

  //.f-tell
  .f-tell{
    margin-bottom: 40px;
    &__tell-bl{
      margin-bottom: rem(23px);
      &--wa{
        margin-bottom: rem(18);
      }
    }
    &__tel{
      display: inline-block;
      font-weight: 600;
      font-size: 24px;
      color: $white;
    }
    &__gray{
      color: $gray-550;
      font-size: 14px;
      line-height: 1.2;
    }
    //
    &__wa-row{
      --bs-gutter-x: 17px;
    }
    &__wa-img{
      width: 25px;

      img{
        width: 100%;
        height: auto;
      }
    }
  }
  //

  .big-link{
    display: inline-block;
    font-weight: 600;
    color: $primary;
    font-size: 20px;
    line-height: 1.2;
  }

  //
  .f-address{
    margin-bottom: 40px;
    &__item{
      margin-bottom: 20px;

      p{
        margin-bottom: rem(10);
      }

      & > *:last-child{
        margin-bottom: 0;
      }

      font-size: 16px;
      line-height: 1.5;
      color: $gray-550;
    }
    &__i-title{
      font-weight: bold;
      color: $white;
      @include media-breakpoint-up(sm){
        margin-bottom: 2px;
      }
    }
    &__mnu-rights{
      font-weight: 600;
      font-size: 16px;
      line-height: 1.5;
      color: $gray-550;
    }
  }

  .f-soc-row{
    --bs-gutter-x: #{rem(10)};
    &__soc-item{
      width: 30px;
      height: 30px;
      padding: 7px;
    }
  }
  &__{}
  &__{}
  &__{}
}