mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()

mixin top-nav()
	+b.top-nav--js.block-with-lazy
		.container
			+e.row.row.align-items-center
				.col-auto.d-lg-none
					+e.burger(class="toggle-menu-mobile--js")
						img(loading="lazy" src="img/svg/burger-bars.svg" alt="")
				.col-auto
					+e.logo
						img(loading="lazy" src='img/svg/logo.svg' alt="")
				.col.d-none.d-lg-block
					+e.title
						b Переоборудование грузовых автомобилей
						br
						span Работаем со всей Россией и СНГ
				.col-auto.text-end.ms-auto.ms-lg-0
					+e.tell-dd
						+e.dd-btn
							+e.icon
								img(loading="lazy" src="img/svg/tell.svg" alt="")
							+e.number.d-none.d-lg-block 8 800 222 97 92
					+e.callback.d-none.d-lg-inline-block(href="#") Обратный звонок
	// end top-nav

mixin menuLine()
	+b.menu-line.d-none.d-lg-block
		.container
			+mnu()