mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+e.inner
			+e.box--top
				+e.cb-cont.text-end
					+e.close-btn(class="toggle-menu-mobile--js")
						img(loading="lazy" src="img/svg/cross.svg" alt="")
				+mnu()
			+e.box--foot
				+b.f-tell
					+footerTellBl('89308088580', '8 (930) 808-85-80', 'бесплатно по России')
					+footerTellBl('88002229792', '8 (800) 222-97-92', 'городской')
					+e.tell-bl--wa
						+e.wa-row.row.align-items-center
							.col-auto
								+e.wa-img
									img(loading="lazy" src="img/svg/footer-wa.svg" alt="")
							.col
								+e.tel(href="https://api.whatsapp.com/send/?phone=88312160797") WhatsApp
								+e.gray для звонков из зарубежа
					+b.big-link.link-modal-js(href="#modal-call") Обратный звонок
				+b.f-address
					+footerTxtItem('Адрес:')
						p
							| г. Нижний Новгород,
							br
							| ул. Юлиуса Фучика, д. 60 к15
					+footerTxtItem('Режим работы:')
						p будни  8:00 - 17:00
					+e.mnu-rights
						| © ООО «Авторекорд»
						|
						span.set-curr-year-js 2020
						br
						| ИНН 5256171974, ОГРН 1185275017124
				+footerSoc('')

mixin top-nav()
	+b.top-nav--js.block-with-lazy
		.container
			+e.row.row.align-items-center
				.col-auto.d-lg-none
					+e.burger(class="toggle-menu-mobile--js")
						img(loading="lazy" src="img/svg/burger-bars.svg" alt="")
				.col-auto
					+e.logo
						img(loading="lazy" src='img/svg/logo.svg' alt="")
				.col.d-none.d-lg-block
					+e.title
						b Переоборудование грузовых автомобилей
						br
						span Работаем со всей Россией и СНГ
				.col-auto.text-end.ms-auto.ms-lg-0
					+e.tell-dd
						+e.dd-btn
							+e.icon
								img(loading="lazy" src="img/svg/tell.svg" alt="")
							+e.number.d-none.d-lg-block 8 800 222 97 92
					+e.callback.d-none.d-lg-inline-block(href="#") Обратный звонок
	// end top-nav

mixin menuLine()
	+b.menu-line.d-none.d-lg-block
		.container
			+mnu()