mixin sHowMuch(data)
	// start sHowMuch
	+b.SECTION.sHowMuch.section#sHowMuch&attributes(attributes)
		.container
			.row.align-items-center
				+e.title-col.col-md-6.col-xl-5.text-center.text-md-start
					+b.section-title
						h2 Сколько стоит переоборудоваться в&#160;комплексе?
						p
							| Под ваш автомобиль, размеры,
							|
							br
							| с еврофургоном/платформой, регистрацией в ГИБДД и т.д.
					+e.btn(href="#") Отправить заявку 
				.col-md-6.col-xl-7
					+e.img
						img(loading="lazy" src='img/@2x/sHowMuch-car.png' alt="")

	// end sHowMuch