.soc{
	display: flex;
	align-items: center;

	&__item{
		border-radius: 50%;
		&:last-child{
			margin-right: 0;
		}

		display: flex;
		align-items: center;
		justify-content: center;

		&.soc-vk{
			&:hover{
				background-color: #4A76A8;
			}
		}
		&.soc-inst{
			&:hover{
				background-color: #E94754;
			}
		}
		&.soc-fb{
			&:hover{
				background-color: #1877F2;
			}
		}
		&.soc-tw{
			&:hover{
				background-color: #03A9F4;
			}
		}
		&.soc-yt{
			&:hover{
				background-color: #FF0000;
			}
		}
	}
}

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

