include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

mixin pageHead(data)
	+b.page-head
		.container
			+e.row.row
				if !data.noSidebar
					+e.sb-col.col-lg-3.d-none.d-lg-block
						+e.UL.dd-menu.sb-dd-menu-js
							+pageHeadSbItem('Справка о компании', 'active')
							+pageHeadSbItem('Изготовление еврофургонов')
							+pageHeadSbItem('Бортовые платформы')
							+pageHeadSbItem('Спецтехника')
							+pageHeadSbItem('Дополнительные опции', 'active')
								li: a(href="#") Инструментальный ящик
								li: a(href="#") Пневмоподвеска
								li: a(href="#") Газобалонное оборудование
						//- if data.hasActual
						//- 	+e.actual-title Актуально по теме 
						//- 	+e.a-items
						//- 		ul
						//- 			li: a(href="#") Бортовые платформы
						//- 			li: a(href="#") Бортовые платформы
						//- 			li: a(href="#") Бортовые платформы
				.col
					+breadcrumb(...data.breadcrumbs)
					block
					if data.seoBox
						+e.SECTION.seo
							H2 Заголовок Н2
							P Производство еврофургонов, эвакуаторов и самосвалов на базе машин отечественных и зарубежных марок, удлинение грузовых автомобилей, а также установка пневмоподвески, ГБО и п рочими видами усовершенствования коммерческого транспорта.

mixin pageHeadSbItem(headTxt, activeClass='')
	li(class=activeClass)
		a(href="#")=headTxt
		ul(class=activeClass)
			if block
				block
			else
				li: a(href="#") Удлинение газель
				li: a(href="#") Удлинение газон
				li: a(href="#") Удлинение next

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		img(loading="lazy" src="img/svg/chevron-left.svg" alt="")
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		img(loading="lazy" src="img/svg/chevron-right.svg" alt="")
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->