mixin item-sos(icon)
	+e.item(href='#' target="_blank" rel="nofollow" class=icon)
		if block
			block
		else
			+icon(icon)
//- social buttons

mixin soc(addClasses='')
	+b.soc(class=addClasses)
		if block
			block
		else
			+item-sos('soc-vk')
			+item-sos('soc-inst')
			+item-sos('soc-fb')
			+item-sos('soc-tw')
			+item-sos('soc-yt')

//- /social buttons 